@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Playfair+Display&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Montserrat', sans-serif ;
  
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    scroll-behavior: smooth;
}

@layer components {
  .link-clicked {
    @apply flex flex-row   pr-8  text-white  bg-gray-900 rounded-r-xl w-fit h-fit whitespace-nowrap 
  }
  .link-not-clicked{
    @apply flex flex-row whitespace-nowrap h-fit pr-8
  }
  .formInput{
    @apply  w-5/6 mx-auto h-fit py-2 pl-3 rounded-[25px] border-white border-2 placeholder:text-white bg-emerald-700 text-white outline-none
  }
  .textAreaInput{
    @apply  w-5/6 mx-auto h-fit py-2 pl-3 rounded-[25px]  border-white border-2 placeholder:text-white bg-emerald-700  text-white outline-none
  }
}
#resumeContent{
  scroll-behavior: smooth !important;
}

